.menu_button
    margin: 2%
    padding: 2%
    width: 20%
    background: yellow
    font-size: 4em
    cursor: pointer
    float: left

.button_placeholder
    margin: 2%
    padding: 2%
    width: 20%
    background: gray
    font-size: 4em
    cursor: pointer
    float: left
